<div class="card">
    <div class="card-image">
        <figure class="image">
            <a href="@movieUrl">
                <img src="@Movie.Poster" alt="Poster" class="movie-poster">
            </a>
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <a href="@movieUrl"><p class="title is-4">@Movie.TitleBrief</p></a>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        <a href="#" class="card-footer-item" @onclick:preventDefault>Edit</a>
        <a href="@movieUrl" class="card-footer-item">Details</a>
        <a href="" class="card-footer-item" @onclick="@(()=> DeleteMovie.InvokeAsync(Movie))" @onclick:preventDefault>Delete</a>
    </footer>
</div>




@*<div class="individual-movie-container">
        <a>
            <img src="@Movie.Poster" alt="Poster" class="movie-poster" />
        </a>
    </div>*@


@code {
    [Parameter]
    public Movie Movie { get; set; }

    [Parameter]
    public EventCallback<Movie> DeleteMovie { get; set; }

    private string movieUrl = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        movieUrl = $"movie/{Movie.Id}/{Movie.Title.Replace(" ", "-")}";
    }
}
